body {
  font-family: minerva-modern, sans-serif;
 background-color: var(--secondary-color);
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

* {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  box-shadow: none !important;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

:root {
  --accent-color: #6a734c;
  --light-gray: #f5f5f5;
  --primary-color: #444730;
  --secondary-color: #e5e0da;
  --transition-standard: 0.3s ease;
  --white: #ffffff;
}

h1 {
  color: var(--primary-color);
  font-family: minerva-modern, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.75;
  text-transform: uppercase;
}

h2 {
  color: var(--primary-color);
  font-family: minerva-modern, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.8;
  text-transform: uppercase;
}

h3 {
  color: var(--primary-color);
  font-family: minerva-modern, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.9;
  text-transform: uppercase;
}

h4 {
  color: var(--primary-color);
  font-family: minerva-modern, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
}

h5 {
  color: var(--primary-color);
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 0.9;
  text-transform: uppercase;
}

h6 {
  color: var(--primary-color);
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 0.9;
  text-transform: uppercase;
}

p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.6;
}

li {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.6;
}

.display-4 {
  color: var(--primary-color) !important;
  font-family: minerva-modern, sans-serif !important;
  font-weight: 600 !important;
  letter-spacing: 2px;
}

.text-primary {
  color: var(--primary-color) !important;
  font-family: minerva-modern, sans-serif !important;
  font-size: 20px !important;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
  text-transform: uppercase;
}

.text-muted {
  color: rgb(108, 117, 125) !important;
}

.text-link {
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
  text-transform: uppercase;
}

.text-link:hover {
  color: var(--secondary-color) !important;
  opacity: 0.9;
}

.button {
  align-items: center;
  background-color: var(--primary-color);
  border-bottom-color: initial;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 0.8;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
  text-transform: uppercase;
}

.btn,
button {
  align-items: center;
  background-color: var(--primary-color);
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

.btn i {
  margin-left: 8px;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--accent-color) !important;
  color: var(--white);
}

.btn-outline {
  background-color: transparent;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  color: var(--primary-color);
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-outline-primary {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.Button {
  margin-left: auto;
  margin-right: 40px;
}

.navbar {
  background-color: var(--secondary-color);
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  position: relative;
  z-index: 100;
}

.navbar-container {
  align-items: center;
  display: flex;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  position: relative;
  width: 100%;
}

.navbar-left {
  margin-right: auto;
}

.navbar-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.navbar-right {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.nav-links {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.logo {
  height: 60px;
}

.nav-link,
.navbar-nav a,
.d-dropdown-list a {
  color: var(--primary-color) !important;
  font-family: minerva-modern, sans-serif !important;
  font-size: 15px !important;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
  text-transform: uppercase;
}

.nav-link:hover,
.navbar-nav a:hover {
  color: var(--accent-color) !important;
}

.text-nowrap {
  color: var(--primary-color) !important;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 20px !important;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
  text-transform: uppercase;
}

.mw-0 {
  min-width: 0px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-4 {
  z-index: 4;
}

.z-index-20 {
  z-index: 20;
}

.z-999 {
  z-index: 9999;
}

.flex-basis-0 {
  flex-basis: 0px !important;
}

.text-prewrap {
  text-wrap-mode: wrap;
  text-wrap-style: initial;
  white-space-collapse: preserve;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.minh-100 {
  min-height: 100%;
}

.start-minus-100 {
  left: -100%;
}

.w-200 {
  width: 200%;
}

.w-150 {
  width: 150px;
}

.pointer-events-none {
  pointer-events: none !important;
}

.dashboard {
  background-color: var(--secondary-color);
}

.card {
  background-color: white;
  border-bottom-color: initial !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-style: none !important;
  border-bottom-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  border-image-slice: initial !important;
  border-image-source: initial !important;
  border-image-width: initial !important;
  border-left-color: initial !important;
  border-left-style: none !important;
  border-left-width: initial !important;
  border-right-color: initial !important;
  border-right-style: none !important;
  border-right-width: initial !important;
  border-top-color: initial !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-style: none !important;
  border-top-width: initial !important;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem !important;
}

.search-form-container {
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.search-preview {
  background-color: var(--light-gray) !important;
  border-bottom-color: initial !important;
  border-bottom-style: none !important;
  border-bottom-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  border-image-slice: initial !important;
  border-image-source: initial !important;
  border-image-width: initial !important;
  border-left-color: initial !important;
  border-left-style: none !important;
  border-left-width: initial !important;
  border-right-color: initial !important;
  border-right-style: none !important;
  border-right-width: initial !important;
  border-top-color: initial !important;
  border-top-style: none !important;
  border-top-width: initial !important;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 90%;
}

.container {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 1200px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  width: 100%;
}

.search-overlay {
  bottom: 0px;
  display: none;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
}

.expanded .search-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
}

.search-full {
  background-color: var(--light-gray) !important;
  border-bottom-color: initial !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-style: none !important;
  border-bottom-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  border-image-slice: initial !important;
  border-image-source: initial !important;
  border-image-width: initial !important;
  border-left-color: initial !important;
  border-left-style: none !important;
  border-left-width: initial !important;
  border-right-color: initial !important;
  border-right-style: none !important;
  border-right-width: initial !important;
  border-top-color: initial !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-style: none !important;
  border-top-width: initial !important;
  height: 0px;
  max-width: 850px;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transform: translateY(-75px) scale(0);
  transition-behavior: normal;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease;
  width: 0px;
}

.initial-expanded .search-full,
.expanded .search-full {
  height: auto;
  left: 0px;
  margin-top: 0.5rem;
  opacity: 1;
  overflow-x: visible;
  overflow-y: visible;
  position: static;
  top: 100%;
  transform: translateY(0px) scale(1);
  width: 100%;
}

.expanded .search-preview,
.initial-expanded .search-preview {
  display: none;
}

.search-bar .form-group {
  margin-bottom: 0px;
  position: relative;
}

.search-bar .form-group::after {
  background-color: rgb(221, 221, 221);
  content: "";
  display: block;
  height: 60%;
  position: absolute;
  right: 0px;
  top: 20%;
  width: 1px;
}

.search-bar .form-group.no-divider::after,
.search-bar .form-group:last-of-type::after {
  display: none;
}

.search-bar .form-control {
  height: calc(1.6em + 2px + 1rem);
}

.search-bar .input-label-absolute-right .label-absolute {
  right: 0px;
}

.search-bar.search-bar-with-tabs {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.d-dropdown {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  z-index: revert;
}

.d-dropdown.d--open .d-dropdown-list {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  z-index: 999;
}

.d-dropdown-toggle {
  align-items: center;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  color: var(--primary-color) !important;
  cursor: pointer;
  display: flex;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 20px !important;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
  text-transform: uppercase;
}

.d-dropdown-list {
  background-color: var(--primary-color) !important;
  border-bottom-color: initial !important;
  border-bottom-style: none !important;
  border-bottom-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  border-image-slice: initial !important;
  border-image-source: initial !important;
  border-image-width: initial !important;
  border-left-color: initial !important;
  border-left-style: none !important;
  border-left-width: initial !important;
  border-right-color: initial !important;
  border-right-style: none !important;
  border-right-width: initial !important;
  border-top-color: initial !important;
  border-top-style: none !important;
  border-top-width: initial !important;
}

.d-dropdown-list .list-group {
  background-color: var(--primary-color) !important;
}

.d-dropdown-list .list-group-item {
  background-color: var(--primary-color) !important;
  border-bottom-color: initial !important;
  border-bottom-style: none !important;
  border-bottom-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  border-image-slice: initial !important;
  border-image-source: initial !important;
  border-image-width: initial !important;
  border-left-color: initial !important;
  border-left-style: none !important;
  border-left-width: initial !important;
  border-right-color: initial !important;
  border-right-style: none !important;
  border-right-width: initial !important;
  border-top-color: initial !important;
  border-top-style: none !important;
  border-top-width: initial !important;
}

.d-dropdown-list a,
.d-dropdown-list .btn,
.d-dropdown-list span {
  color: rgb(234, 230, 218) !important;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
}

.d-dropdown-list a:hover,
.d-dropdown-list .btn:hover,
.d-dropdown-list span:hover {
  color: white !important;
}

.d-dropdown-list .border-bottom {
  border-bottom-color: rgba(229, 224, 218, 0.2) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

.d-dropdown-list .btn {
  background-color: transparent !important;
  font-family: itc-avant-garde-gothic-pro, sans-serif !important;
  font-weight: 700;
  text-align: left;
}

.d-dropdown-list .btn:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.d-dropdown-list .text-nowrap {
  color: rgb(234, 230, 218) !important;
  font-family: itc-avant-garde-gothic-pro, sans-serif !important;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
}

.d-radio-input:checked+.list-group-item {
  color: var(--primary-color) !important;
}

.d-radio-input:checked~.fas,
.d-radio-input:checked~label .fas,
.d-radio-input:checked+i,
.d-radio-input:checked+i~.fas {
  color: var(--primary-color) !important;
}

.radio-custom-rating {
  display: none;
}

.radio-custom-rating+* {
  color: var(--bs-secondary-color);
}

.radio-custom-rating:checked+*,
.d-checkbox-input:checked+* {
  color: var(--primary-color) !important;
}

.d--was-validated .form-control:valid {
  padding-right: initial !important;
}

.form-floating>label:first-of-type {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: bold !important;
  opacity: 1 !important;
  transform: scale(0.85) translateY(-0.85rem) translateX(0.15rem) !important;
}

.text.start {
  color: white;
}

.form-floating>.label {
  font-family: itc-avant-garde-gothic-pro, sans-serif !important;
  height: 100%;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  pointer-events: none;
  position: absolute;
  text-align: start;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  text-wrap-style: initial;
  top: 0px;
  transform-origin: 0px 0px;
  transition-behavior: normal, normal;
  transition-delay: 0s, 0s;
  transition-duration: 0.1s, 0.1s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out, ease-in-out;
  white-space-collapse: collapse;
  width: 100%;
}

.form-control {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  font-family: ibm-plex-mono, sans-serif;
}

label,
input,
select,
textarea {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  font-family: ibm-plex-mono, sans-serif;
}

.card {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.card-border {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.form-control {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.btn {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.d-dropdown {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.d-dropdown-list {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.d-slider {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.rounded,
input,
select,
textarea {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.circle-one {
  left: 50%;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.circle-two {
  left: 50%;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.circle-one {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.circle-two {
  aspect-ratio: 1 / 1;
  opacity: 0.03;
  width: 150%;
}

.text-overlay {
  column-gap: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  row-gap: 20px;
}

.text-overlay .badge:nth-child(2n+1) {
  align-self: flex-start;
}

.text-overlay .badge:nth-child(2n) {
  align-self: flex-end;
}

.badge {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  color: var(--primary-color);
  font-family: minerva-modern, sans-serif;
}

.small-circle {
  height: 25px;
  width: 25px;
}

.fas.fa-circle {
  font-size: 5px;
}

.hero-section {
  background-attachment: fixed;
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10587/90912-reiki2AISTockbyCON.jpg");
  background-size: cover;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 80px;
  text-align: center;
}

.hero-content {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 800px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

.hero-title {
  color: white;
  font-family: minerva-modern, sans-serif !important;
  font-size: 3.3rem;
  margin-bottom: 30px;
}

.hero-buttons {
  column-gap: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  max-width: 1200px;
  row-gap: 20px;
}

.categories-section {
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  text-align: center;
}

.categories-title {
  color: var(--primary-color);
  margin-bottom: 30px;
}

.categories-container {
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  row-gap: 20px;
}

.category-card {
  background-color: var(--primary-color);
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 350px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  text-align: center;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-title {
  color: var(--white);
  font-family: minerva-modern, sans-serif;
  font-size: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.feature-cards-section {
  background-color: var(--secondary-color);
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
  width: 100%;
}

.section-title {
  color: var(--primary-color);
  font-family: minerva-modern, sans-serif !important;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.feature-cards-grid {
  column-gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
}

.feature-card {
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 56.25%;
  position: relative;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
  width: 100%;
}

.feature-card-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.feature-card-title {
  color: var(--white);
  font-family: minerva-modern, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}

.feature-card:nth-child(1) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95881-magic2SessionsGuid.jpg");
}

.feature-card:nth-child(2) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95949-body%20workAISTockbyCON.jpg");
}

.feature-card:nth-child(3) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95947-flowerSessionsGuid.jpg");
}

.feature-card:nth-child(4) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95943-oracleSessionsGuid.jpg");
}

.feature-card:nth-child(5) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95945-coachingSessionsGuid.jpg");
}

.feature-card:nth-child(6) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95883-crystalAI-Stock-by--1.jpg");
}

.feature-card:nth-child(7) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95872-groupSessionsGuid.jpg");
}

.feature-card:nth-child(8) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95882-biohackingAISTock-by-C.jpg");
}

.feature-card:nth-child(9) {
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95879-beautySessionsGuid.jpg");
}

.symbol-20px>img {
  height: 20px;
  width: 20px;
}

.symbol-25px>img {
  height: 25px;
  width: 25px;
}

.symbol-30px>img {
  height: 30px;
  width: 30px;
}

.symbol-35px>img {
  height: 35px;
  width: 35px;
}

.symbol-40px>img {
  height: 40px;
  width: 40px;
}

.symbol-45px>img {
  height: 45px;
  width: 45px;
}

.symbol-50px>img {
  height: 50px;
  width: 50px;
}

.symbol-55px>img {
  height: 55px;
  width: 55px;
}

.symbol-60px>img {
  height: 60px;
  width: 60px;
}

.symbol-65px>img {
  height: 65px;
  width: 65px;
}

.symbol-70px>img {
  height: 70px;
  width: 70px;
}

.symbol-75px>img {
  height: 75px;
  width: 75px;
}

.symbol-90px>img {
  height: 90px;
  width: 90px;
}

.symbol-100px>img {
  height: 100px;
  width: 100px;
}

.symbol-125px>img {
  height: 125px;
  width: 125px;
}

.symbol-150px>img {
  height: 150px;
  width: 150px;
}

.symbol-160px>img {
  height: 160px;
  width: 160px;
}

.symbol-175px>img {
  height: 175px;
  width: 175px;
}

.symbol-200px>img {
  height: 200px;
  width: 200px;
}

.symbol-30px>.label {
  height: 30px;
  width: 30px;
}

.symbol-40px>.label {
  height: 40px;
  width: 40px;
}

.symbol-50px>.label {
  height: 50px;
  width: 50px;
}

.symbol-70px>.label {
  height: 70px;
  width: 70px;
}

.h-10px {
  height: 10px;
}

.h-20px {
  height: 20px;
}

.h-30px {
  height: 30px;
}

.h-40px {
  height: 40px;
}

.h-50px {
  height: 50px;
}

.h-60px {
  height: 60px;
}

.h-70px {
  height: 70px;
}

.h-80px {
  height: 80px;
}

.h-90px {
  height: 90px;
}

.h-100px {
  height: 100px;
}

.h-110px {
  height: 110px;
}

.h-120px {
  height: 120px;
}

.h-130px {
  height: 130px;
}

.h-140px {
  height: 140px;
}

.h-150px {
  height: 150px;
}

.h-160px {
  height: 160px;
}

.h-170px {
  height: 170px;
}

.h-180px {
  height: 180px;
}

.h-190px {
  height: 190px;
}

.h-200px {
  height: 200px;
}

.h-300px {
  height: 300px;
}

.h-400px {
  height: 400px;
}

.h-500px {
  height: 500px;
}

.mh-10px {
  min-height: 10px;
}

.mh-20px {
  min-height: 20px;
}

.mh-30px {
  min-height: 30px;
}

.mh-40px {
  min-height: 40px;
}

.mh-50px {
  min-height: 50px;
}

.mh-60px {
  min-height: 60px;
}

.mh-70px {
  min-height: 70px;
}

.mh-80px {
  min-height: 80px;
}

.mh-90px {
  min-height: 90px;
}

.mh-100px {
  min-height: 100px;
}

.mh-110px {
  min-height: 110px;
}

.mh-120px {
  min-height: 120px;
}

.mh-130px {
  min-height: 130px;
}

.mh-140px {
  min-height: 140px;
}

.mh-150px {
  min-height: 150px;
}

.mh-160px {
  min-height: 160px;
}

.mh-170px {
  min-height: 170px;
}

.mh-180px {
  min-height: 180px;
}

.mh-190px {
  min-height: 190px;
}

.mh-200px {
  min-height: 200px;
}

.mh-300px {
  max-height: 300px;
}

.w-10px {
  width: 10px;
}

.w-40px {
  width: 40px;
}

.w-50px {
  width: 50px;
}

.w-60px {
  width: 60px;
}

.w-75px {
  width: 75px;
}

.w-100px {
  width: 100px;
}

.w-250px {
  width: 250px;
}

.w-350px {
  width: 350px;
}

.mw-100px {
  max-width: 100px;
}

.border-dashed {
  border-bottom-style: dashed;
  border-left-style: dashed;
  border-right-style: dashed;
  border-top-style: dashed;
}

.light-overlay {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.dark-overlay {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.gradient-overlay {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.light-overlay::after {
  background-color: rgb(0, 0, 0);
  content: " ";
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 100%;
}

.dark-overlay::after {
  background-color: rgb(0, 0, 0);
  content: " ";
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 100%;
}

.gradient-overlay::after {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.65) 100%);
  content: " ";
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bg-grey {
  background-color: var(--secondary-color);
}

.bg-image {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

img.bg-image {
  font-family: "object-fit: cover;";
  object-fit: cover;
}

.bg-primary-gradient {
  background-image: linear-gradient(90.25deg, var(--primary-color) 1.6%, rgba(68, 71, 48, 0) 118.55%);
}

.d-modal-box form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.d-modal-body {
  overflow-x: auto;
  overflow-y: auto;
}

.d-modal-header h1,
.d-modal-header h2,
.d-modal-header h3,
.d-modal-header h4,
.d-modal-header h5,
.d-modal-header h6 {
  font-family: minerva-modern, sans-serif;
}

.d-modal-body p,
.d-modal-body div {
  font-family: ibm-plex-mono, sans-serif;
}

.view-toggle {
  bottom: 80px;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.slider-container {
  align-items: center;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.slider-content {
  column-gap: 10px;
  display: flex;
  overflow-x: auto;
  row-gap: 10px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider-content::-webkit-scrollbar {
  display: none;
}

.Slide {
  transform: translateX(0%);
  transition-behavior: normal;
  transition-delay: 0s;
  transition-duration: 500ms;
  transition-property: transform;
  transition-timing-function: ease;
  width: 100%;
}

.d-slider {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.d-map-box {
  height: 100% !important;
}

.Map {
  height: 400px;
  width: 100%;
}

.Mapbox {
  height: 400px;
  width: 100%;
}

.mapbox-logo {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl {
  display: none !important;
}

.calendar {
  column-gap: 0px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0px;
}

.calendar-day {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-x: hidden;
  overflow-y: hidden;
}

.my-custom-link {
  color: var(--primary-color);
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}

.my-custom-link:hover {
  color: var(--primary-color);
  text-decoration-color: initial;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}

.onboarding-checkbox~a {
  color: var(--primary-color);
  text-decoration-color: initial;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}

.onboarding-checkbox:checked~a {
  color: black;
  pointer-events: none;
  text-decoration-color: initial;
  text-decoration-line: line-through;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none !important;
  color: var(--primary-color);
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
}

.custom-accordion .accordion-button.collapsed {
  background-color: white;
  box-shadow: none !important;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
}

.custom-accordion .custom-link-item {
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  color: gray;
  display: block;
  font-weight: bold;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}

.custom-accordion .custom-link-item.active {
  color: var(--primary-color);
  font-weight: bold;
}

.custom-accordion .custom-link-item:hover {
  color: var(--primary-color);
}

.text-gold {
  color: var(--primary-color);
}

.light-red {
  background-color: rgba(240, 79, 156, 0.6);
}

.light-green {
  background-color: rgba(58, 245, 147, 0.85);
}

.blocked-color {
  background-color: var(--primary-color);
  color: white;
}

.code-text-area {
  font-family: ibm-plex-mono, sans-serif;
  font-size: 12px;
  resize: none;
  text-wrap-mode: nowrap;
  text-wrap-style: initial;
  white-space-collapse: preserve;
}

.page-background {
  background-attachment: fixed;
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10587/90912-reiki2AISTockbyCON.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
}

.footer {
  background-color: var(--primary-color) !important;
  color: var(--white);
  padding-bottom: 0.7rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1.5rem;
  position: relative;
}

.footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 1200px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

.footer-links {
  column-gap: 20px;
  display: flex;
  row-gap: 20px;
}

.footer-link {
  color: var(--white);
  font-family: ibm-plex-mono, sans-serif;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-thickness: initial;
}

.footer-link:hover {
  opacity: 0.8;
}

.footer-divider {
  font-size: 8px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
}

.footer-copyright {
  font-family: ibm-plex-mono, sans-serif;
  text-align: right;
}

.bg-white.py-3 {
  background-color: var(--secondary-color) !important;
  padding-bottom: 1.5rem !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 1.5rem !important;
}

.py-2 {
  color: var(--secondary-color) !important;
}

.DivBlock_1 {
  display: flex;
  justify-content: space-between;
}

.DivBlock_2 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

.DivBlock_6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 1200px;
}

.DivBlock_7 {
  background-color: var(--primary-color);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  text-align: center;
}

.DivBlock_7:hover {
  transform: translateY(-5px);
}

.white {
  color: var(--white) !important;
  font-size: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 600px;
  width: 100%;
}

.centered-logo {
  height: auto;
  max-height: 150px;
  max-width: 100%;
}

.iframe-wrapper {
  align-items: center;
  display: flex;
  height: 300px !important;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 600px;
  width: 100%;
}

.iframe-wrapper iframe {
  border-bottom-color: initial !important;
  border-bottom-style: none !important;
  border-bottom-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  border-image-slice: initial !important;
  border-image-source: initial !important;
  border-image-width: initial !important;
  border-left-color: initial !important;
  border-left-style: none !important;
  border-left-width: initial !important;
  border-right-color: initial !important;
  border-right-style: none !important;
  border-right-width: initial !important;
  border-top-color: initial !important;
  border-top-style: none !important;
  border-top-width: initial !important;
  height: 100%;
  width: 100%;
}

.paragraph-row {
  column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  row-gap: 30px;
}

.paragraph-column {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  color: white;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 250px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.Heading_7 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.Heading_1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.Heading_2 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.Heading_6 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.Heading {
  color: rgb(255, 255, 255);
  text-align: center;
}

.Image {
  width: 33.3333%;
}

.Image_1 {
  width: 33.3333%;
}

.DivBlock {
  margin-bottom: auto;
}

.Image_2 {
  width: 33.3333%;
}

.mb-5 {
  text-align: center;
}

.bg-primary {
  background-color: rgb(68, 71, 48);
}

.heroabout {
  align-items: center;
  background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95941-mel-and-i-1.jpg");
  background-position-x: 0px;
  background-position-y: 40%;
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
}

.heroabout img {
  height: auto;
  max-width: 500px;
  width: 100%;
}

.Heading_3 {
  color: rgb(255, 255, 255);
  margin-top: 60px;
}

.text-dark {
  font-size: 0.6em;
}

@media (max-width: 1920px) {
  .about-hero-section {
    background-image: url("https://dittofipublicfiles.s3.us-west-2.amazonaws.com/10792/95941-mel-and-i-1.jpg");
    background-position-x: 40%;
    background-position-y: 0px;
    background-size: cover;
  }

  .mb-3.about-hero-title {
    color: rgb(255, 255, 255);
  }

  .btn.text-uppercase.btn-lg.w-100.btn-dark {
    margin-left: auto;
    margin-right: 20px;
    max-width: 100px;
  }

  .DivBlock_4 {
    display: flex;
  }

  .Heading_3 {
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
    margin-top: 60px;
  }

  #inj2fs {
    letter-spacing: 0.3px;
  }

  .btn.btn-lg.ms-2 {
    margin-right: 20px;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
  }

  .hero-search {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 90%;
  }

  .search-bar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .search-bar .form-group {
    margin-bottom: 1rem;
  }

  .search-bar .form-group::after {
    background-color: var(--secondary-color);
    bottom: 0px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    right: auto;
    top: auto;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
  }

  .search-bar .form-control {
    height: calc(1.6em + 2px + 0.75rem);
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .search-bar .input-label-absolute-right .label-absolute {
    right: 1rem;
  }

  .search-bar .bootstrap-select {
    display: block !important;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 100% !important;
  }

  .search-bar .bootstrap-select button {
    display: block;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 100% !important;
  }

  .navbar-container {
    flex-wrap: wrap;
  }

  .navbar-left {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    order: 1;
    width: 100%;
  }

  .navbar-right {
    justify-content: center;
    order: 2;
    width: 100%;
  }

  .footer-container {
    column-gap: 20px;
    flex-direction: column;
    row-gap: 20px;
  }

  .footer-copyright {
    text-align: center;
  }

  .feature-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .search-preview {
    width: 90%;
  }

  .hero-title {
    font-size: 2rem;
  }

  .d-md-none.footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
  }

  .text-overlay .badge:nth-child(2n+1),
  .text-overlay .badge:nth-child(2n) {
    transform: translateX(0px);
  }

  .container {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
  }

  h1.display-4 {
    font-size: 2.5rem;
  }

  .paragraph-row {
    column-gap: 20px;
    flex-direction: column;
    row-gap: 20px;
  }

  .paragraph-column {
    margin-bottom: 20px;
    width: 100%;
  }

  .iframe-wrapper {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .iframe-wrapper iframe {
    height: 400px;
  }

  .hero-buttons {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
  }

  .footer-links {
    align-items: center;
    column-gap: 10px;
    flex-direction: column;
    row-gap: 10px;
  }

  .footer-divider {
    display: none;
  }
}

@media (max-width: 767px) {
  .navigation {
    display: flex;
  }

  .col-xl-7 {
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1rem;
  }

  .col-xl-5 {
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1rem;
  }

  .feature-cards-grid {
    grid-template-columns: 1fr;
  }

  .feature-card-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
  }

  .hero-section {
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
  }

  .search-preview {
    width: 90%;
  }

  .search-full .d-flex {
    flex-direction: column;
  }

  .search-full .col-3 {
    border-right-color: initial !important;
    border-right-style: none !important;
    border-right-width: initial !important;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    width: 100%;
  }

  h1.display-4 {
    font-size: 2rem;
  }

  .page-background {
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
  }

  .iframe-wrapper iframe {
    height: 350px;
  }

  .category-card {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
}

@media (max-width: 479px) {
  .mt-1 {
    color: rgb(68, 71, 48);
    font-size: 0.8rem;
  }

  .flex-grow-1.text-decoration-none.py-2.flex-basis-0.text-dark {
    background-color: rgb(229, 224, 218);
    border-top-color: rgb(68, 71, 48);
    border-top-style: solid;
    border-top-width: 1px;
  }

  .fas.fa-search {
    color: rgb(68, 71, 48);
    font-size: 12px;
  }
}
